page-home {
  ion-textarea {
    background-color: white;
  }

  .spinner__large {
    display: flex;
    justify-content: center;

    & > ion-spinner {
      width: 56px;
      height: 56px;
    }
  }
  

  ion-input {
    box-shadow: 1px 1px 3px black;    
    background: white;
  }

  .flex-row {
    display: flex;
  }
}
