<ion-header>
  <ion-navbar color="secondary">
    <ion-title>Dictionary</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="navToDocumentSearchPage()">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-searchbar (ionInput)="find($event.target.value)"></ion-searchbar>
  <!-- show unfound words here -->
  <ion-list *ngIf="words.length > 0">
    <collapsible-card *ngFor="let word of words" [word]="word"></collapsible-card>
  </ion-list>
</ion-content>