<ion-header>
  <ion-navbar color="secondary">
    <ion-title text-center>Dictionary</ion-title>
  </ion-navbar>
  <ion-toolbar no-border-top>
    <ion-segment [(ngModel)]="searchType" color="secondary">
      <!-- <ion-segment-button value="word-search">
        <ion-icon color="white" name="book"></ion-icon>
      </ion-segment-button> -->
      <ion-segment-button value="fts">
        <ion-icon color="primary" name="search"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="document-search">
        <ion-icon color="primary" name="paper"></ion-icon>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content [ngSwitch]="searchType">

  <!-- <div *ngSwitchCase="'word-search'" class="flex-row" padding>
    <ion-item begin>
      <ion-input #wordsearch clearInput></ion-input>
    </ion-item>
    <button ion-button color="primary" (click)="find(wordsearch.value)">
      <ion-icon name="search"></ion-icon>
    </button>
  </div> -->

  <div *ngSwitchCase="'fts'">
    <ion-searchbar clearInput (ionInput)="fts($event.target.value)"></ion-searchbar>
    <div *ngIf="isLoading" class="spinner__large">
      <ion-spinner color="primary"></ion-spinner>
    </div>
  </div>

  <div *ngSwitchCase="'document-search'">
    <ion-item padding-top padding-right padding-left>
      <ion-textarea #documentsearch></ion-textarea>
    </ion-item>
    <ion-item>
      <button ion-button block color="primary" icon-end (click)="find(documentsearch.value)">
        <ion-icon *ngIf="!isLoading" name="search"></ion-icon>
        <ion-spinner *ngIf="isLoading" color="white"></ion-spinner>
      </button>
    </ion-item>
  </div>
  <!-- show unfound words here -->
  <ion-list *ngIf="words.length > 0">
    <collapsible-card *ngFor="let word of words" [word]="word"></collapsible-card>
  </ion-list>
</ion-content>